@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200;400;500;600;700;800;900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"poppins",sans-serif;
}

body{
   display: grid;
   justify-content: center;
   align-items:center;
   min-height: 100vh;
   background-image:url("b.jpg");
   background-size: 58%;
   background: position 80%;
}
.calender
{
  position: relative;
  widows: 1000px;
  background:rgb(53, 52, 52);
  text-align: center;
  border-radius: 70px;
  overflow:hidden;
  -webkit-box-reflect: below 20px linear gradient (transparent,transparent,rgba(231, 230, 225, 0.267));
}
#monthname{
         position: relative;
         padding: 40px 45px;
         background: rgb(186, 218, 9);
         color: rgb(24, 23, 23);
         font-size: 80px;
         font-weight: 800;

}
#dayname{
      margin-top: 20px;
      font-size: 70px;
      font-weight: 500;
      color: rgb(186, 218, 9);
      
}
#daynumber{
    margin-top:35px;
    font-size: 180px;
    font-weight: 1000;
    color: rgba(231, 230, 225, 0.267);
    line-height: 1em;
}
#year{
    margin-top: 45px;
    font-size: 80px;
    font-weight: 700;
    color: rgb(186, 218, 9);
    
}


